<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>NOTA</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Sayur</div>
        <hr>
        <table border="1">
            <tr>
                <td>Nama barang</td>
                <td><b th:text="${name}"></b></td>
            </tr>
            
            <tr>
                <td>Harga perkilo</td>
                <td><b th:text="${price}"></b></td>
            </tr>
            
            <tr>
                <td>Jumlah dibeli</td>
                <td><b th:text="${quantity}"></b></td>
            </tr>
            
                <tr>
                <td>Harga Awal</td>
                <td><b th:text="${HargaAwal}"></b></td>
            </tr>
            
            <tr>
                <td>Jumlah Diskon</td>
               <td><b th:text="${dc}"></b></td> 
            </tr>
            
            <tr>
               <td>Total Harga Diskon (Rp)</td>
               <td><b th:text="${HargaDiskon}"></b></td> 
            </tr>
                
            <tr>
               <td>Total Bayar untuk dibayar</td>
                <td><b th:text="${total}"></b></td> 
            </tr>  
                
            <tr>
                <td>Uang yang dibayarkan</td>
                <td><b th:text="${duit}"></b></td>
            </tr>
                
            <tr>
                <td>Keterangan</td>
                <td><b th:text="${Ket}"></b></td>
            </tr>
                 
         
            </table>
    </body>
</html>

